<div class="example-container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 50vh;">
  <h2>Crie sua conta!</h2>
  <mat-form-field style="width: 33%;">
    <mat-label>Digite seu e-mail</mat-label>
    <input matInput type="email">
  </mat-form-field>
  <mat-form-field style="width: 33%;">
    <mat-label>Digite uma senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field style="width: 33%;">
    <mat-label>Confirme sua senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary">Registrar</button>
</div>
